/*

Global

*/
/*
+--Header
*/
header.wp-block-template-part .wp-block-site-title a {
  text-decoration: none;
}
/*
+--Content
*/
#feature-image-header {
  position: relative;
}
#feature-image-header .wp-block-post-featured-image img {
  top: 0;
  left: 0;
  position: absolute;
  opacity: .5;
  object-fit: cover;
  width: 100vw;
  height: 100%;
}
#feature-image-header .header-content {
  position: relative;
}
/*
+--Footer
*/
