/*

Global

*/

/*
+--Header
*/
header.wp-block-template-part {
	// position: sticky;
	// top: 0;
	// z-index: 9999;
	// background-color: white;
	// width: 100%;
	.wp-block-site-title {
		a {
			text-decoration: none;
		}
	}
}

/*
+--Content
*/

#feature-image-header {
	position: relative;
	

	.wp-block-post-featured-image {

		img {
			top: 0;
			left: 0;
			position: absolute;
			
			opacity: .5;
			object-fit: cover;
			width: 100vw;
			height: 100%;

		}
	}
	.header-content {
		position: relative;
	}
}
/*
+--Footer
*/


